{% extends 'padre/base.html' %}
{% load static %}

{% block titulo %}
Comprobante
{% endblock titulo %}

{% block contenido %}
<div class="text-bg-dark container text-center">
  <h1 style="color: green;">Comprobante de Venta</h1>

  <h2 style="color: pink;">Detalles de la Venta</h2>
  <p class="" style="display: flex; flex-wrap: wrap; justify-content: center;"><strong>ID del Carrito:</strong> {{ carrito.id }}</p>
  <h4 style="color: green;"><strong>Total de la Venta:</strong> ${{ total }}</h4>

  <h2 style="color: pink;">Productos Adquiridos</h2>
  <table  class="container col-3 table table-danger text-bg-dark">
    <thead class="table-light">
      <tr>
        <th >Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.cantidad }}</td>
        <td>${{ item.producto.precio }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'pagar_total' %}" class="btn btn-success">Pagar</a>
</div>
{% endblock contenido %}

